@theme-color-primary: #2ABC57;
@theme-color-secondary: #3E79CB;
@theme-font-family: Bilo;
@theme-color-heading: #1A1B16;

body {
    color: @theme-color-heading;
}

a:hover{
    text-decoration: none;
}

section {
    padding-bottom: 30px;
    position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.card, .card-header, .card-body{
    border: none;
    background: none;
}

.padding-top-300 {
    padding-top: 300px;
}

.section-head {
    font-weight: 700;
    font-size: 40px;
    font-style: italic;
    margin: 24px 0;
    color: @theme-color-heading;
    text-align: center;
}

.section-header {
    padding: 50px 0 30px 0;
}

.heading-text span {
    border: 5px solid #fff;
    padding: 7px 50px 7px 25px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 20px;
}
  
.initial-line {
    border: 1px solid #fff;
    position: absolute;
    width: 17%;
    left: 0;
    top: 65px;
}

.row-head{
    font-weight: 700;
    color: #454545;
    padding: 7px 20px;
    font-size: 27px;
    border-bottom: 1px solid #EAEAEA;
    a {
        float: right;
    }
}

.image-wrapper {
    text-align: center;
}


/* Theme color */
.bg-theme-dark {
    background-color: #0c0652;
}  
.bg-theme {
    background-color: #43b280;
}
.text-theme-dark {
    color: #0c0652;
}
.text-theme {
    color: #43b280;
}
.bg-theme-light {
    background: rgba(255,255,255,0.3);
}
.btn-round {
    border:none;
    border-radius:10px;
    padding: 8px 30px;
    font-weight: 700;
}
  
.btn.btn-circular {
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    border-radius: 50%;
    padding: 20px;
    border: 10px solid #5c588b;
    @media (max-width: 992px){
        font-size: 20px;
        padding: 10px;
        border: 5px solid #5c588b;
    }
}
  

form {
    label.col-form-label {
        padding: 0px;
        font-size: 12px;
        font-weight: 700;
        color: #000000;
    }
    label.checkbox-inline {
        font-size: 10px;
        color: #000000;
    }
    .form-wrapper {
        padding: 30px 30px;
        border-radius: 10px;
    }
      
    .form-wrapper .form-group input::placeholder, .form-wrapper .form-group textarea::placeholder {
        color: #1A1919;
        font-weight: 600;
        font-size: 12px;
    }
    .form-wrapper .form-group textarea{
        resize: none;
    }
    .form-group {
        @media screen and (max-width: 768px) {
            padding-top:10px;
            padding-bottom: 10px;
        }
    }
}


.main-header-area {
    background: #fff;
}
/* Navbar Styling */
nav {
    .nav-logo {
        max-width: 100%;
    }
    .navbar-nav .nav-item {
        .nav-link {
            font-size: 17px;
            .nav-text {
                padding: 0px 16px 0px 0px;
                font-weight: 600;
                color: #000000;
                @media (min-width: 992px) and (max-width: 1200px) {
                    padding-right: 6px;
                }
                @media (max-width: 992px) {
                    border-right: none;
                }
            }
            &.active span.nav-text {
                color: #43b280;
            }
            @media (min-width: 992px) and (max-width:1200px) {
                padding: 3px !important;
                font-size: 12px;
            }
        }
        &:last-child .nav-link span.nav-text{
            border-right: none;
        }
    }
    .navbar-brand {
        @media (min-width: 992px) and (max-width:1200px) {
            width: 22.5%;
        }
        @media (max-width: 576px){
            width: 70%;
        }
    }
}

/* End Navbar Styling */

// Home page styling
// Intro section
#intro {
    h1 {
        font-size: 52px;
        text-align: center;
        font-weight: 900;
        font-style: italic;
        text-shadow: 0px 0px 4px #000;
    }
    .buttondiv{
        z-index: 6;
        @media (max-width: 768px){
            text-align: center;
        }
    }
    .btn-toolbar{
        justify-content: center;
        a {
            margin: 5px 0;
        }
    }
    img.key {
        position: absolute;
        right: -3%;
        top: 45%;
        width: 30%;
        z-index: 4;
        @media (min-width: 576px) and (max-width: 768px) {
            right: 37.5%;
            top: 94%;
        }
        @media screen and (max-width:576px) {
            right: 37%;
            top: 90%;
        }
    }
    @media (max-width:768px) {
        padding:0px 0 150px 0;
        h1 {
            margin-top:100px;
        }
    }
}
// End intro section

#blog-articles{
    .heading-text span {
        border-color: @theme-color-heading;
    }
    .initial-line {
        border-color: #0c0652;
    }
    .blog-list-wrapper div{
        max-width: 100%;
        & a h6{
                color: @theme-color-heading;
                font-weight: 700;
        }
        & p {
            font-size: 13px;
            a {
                color: @theme-color-heading;
            }
        }
    }
    .blog-list img {
        border-radius: 15px;
    }

    i.fa.fa-plus {
        display: none;
        position: absolute;
        top: 40%;
        left: 40%;
        font-size: 24px;
        padding: 12px;
        background: #fff;
        border-radius: 50%;
        &:hover {
            display:block;
        }
    }
    
    .img-shadow{
        float: left;
        margin-bottom: 15px;
        &:hover{
            position: relative;
            max-width: 100%;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius: 10px;
                box-shadow: inset 0 0 0 100vw rgba(0, 212, 136, 0.8);
                -moz-box-shadow: inset 0 0 0 100vw rgba(0, 212, 136, 0.8);
                -webkit-box-shadow: inset 0 0 0 100vw rgba(0, 212, 136, 0.8);
            } 
            & i.fa.fa-plus {
                display: block;
                border: 2px solid;
            }
        }
    }
}

// End Home page styling

section {
    .main-search{
        margin-top: 16px 0;
        padding: 24px 30px 48px;
        border-radius: 10px;
    }
    &#my-account{
        .ad-container {
            background-color: #fff;
            & > .card-body {
                margin-bottom:20px;
                border-radius: 10px;
                & .ad .col-md-5{
                    padding: 0px;
                }
                @media (min-width: 768px) {
                    & > .row .col-md-6:nth-child(2n) .card.ad{
                        border-left: 3px solid rgb(234,235,236);
                    }
                }
            }
        }                
    }
    .info-block {
        padding: 20px 30px;
        margin: 15px 0px;
        border-radius: 5px;
        font-size:12px;
        span {
            font-weight: 600;
        } 
    }
    .card-header{
        font-weight: 600;
        font-size:22px;
        padding: 0px 20px 12px 20px;
        &.filter-header {
            background: rgb(72, 176, 129);
            font-size: 12px;
            padding: 2px 30px 2px 23px;
            color: #fff;
            border-radius: 20px;
            width: 85%;
        }
        a{
            color: @theme-color-heading;
        }
    }
    .ad {
        margin: 15px 0 0 0;
        padding: 7px 5px 2px 5px;
        & .ad-image-wrapper {
            padding: 0;
        }
        & .ad-desc-wrapper{
            padding-bottom: 10px;
            padding-top: 10px;
            display: flex;
            flex-direction: column;
        }
        .card-header {
            padding: 0px;
        }
        .card-body {
            padding: 0px 20px;
            font-size: 10px;
            .row .row{
                div {
                    font-weight: 600;
                    line-height: 20px;
                }
                .col-5{
                    padding-left: 0px;
                }
            }
            span.price{
                color: @theme-color-secondary;
                font-weight: 600;
                font-size: 12px;
            }
            span{
                color: @theme-color-secondary;
                font-size: 10px;
            }
            img{
                border-radius: 10px;
            }
        }
        &.odd {
            margin-right: -22.5px;
        }
        &.even {
            margin-left: 7.5px;
        }
        
    }
    .create-ad-card{
        padding: 0 83px 0 40px;
        margin-top: 32px;
        .card-body{
            background: #fff;
            border-radius: 5px;
            .row{
                padding-top: 10px;
            }
        }
        a{
            width:100%;
            &:hover {
                .img-shadow::before{
                    box-shadow: inset 0 0 100vw rgba(0, 212, 136, 0.8);
                    -moz-box-shadow: inset 0 0 100vw rgba(0, 212, 136, 0.8);
                    -webkit-box-shadow: inset 0 0 100vw rgba(0, 212, 136, 0.8);
                }
            }

        }
        .img-shadow {
            position: relative;
            max-width: 100%;
            float: left;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius: 10px;
                box-shadow: inset 0 0 100vw rgba(12,6,82,0.8);
                -moz-box-shadow: inset 0 0 100vw rgba(12,6,82,0.8);
                -webkit-box-shadow: inset 0 0 100vw rgba(12,6,82,0.8);
            } 
        }
        
        img {
            border:2px solid;
            border-radius: 10px;
            box-shadow: 10px -10px rgba(222, 223, 226);
        }

        i.fa.fa-plus {
            position: absolute;
            top: 40%;
            left: 40%;
            font-size: 16px;
            padding: 6px;
            background: #fff;
            border-radius: 50%;
            -webkit-text-stroke: 1px #fff;
        }
        @media (min-width: 768px) and (max-width: 992px) {
            .create-ad-image, .card-header {
                max-width: 100% !important;
                width: 100% !important;
                flex-basis: 100%;
            }
        }
    }
    &#search-page {
        padding-bottom: 0px;
    }
}

.search-sidebar{
    & > .card {
        padding: 15px;
        border-radius: 10px;
    }
    .card-body{
        padding: 10px 0;
    }
    .label-inbetween {
        font-weight: 600;
        color: #fff;
        font-size: 13px;
        margin-top: 30px;
        margin-left: -8px;
        margin-right: -7px;
    }
    .btn-round{
        padding: 2px 20px;
    }
}

.completed-ads .card-body > .row{
    background-color: rgba(243, 243, 243);
    border-radius: 10px;
    padding: 25px 10px;
}

ul.pagination{
    margin-top: 10px;
    .page-item{
        padding: 0 2.5px;
        .page-link{
            padding: 6px 13px;
            font-size: 16px;
            font-weight: bold;
            background-color: #fff;
            border-radius: 50%;
        }
        &.active{
            .page-link{
                background-color: #2ABC57;
                border: @theme-color-secondary;
            }
        }
    }
}

.search-body-head {
    margin: 0 15px;
    background-color: white;
    label.col-form-label{
        color: @theme-color-heading;
    }
}

#single-ad-page {
    .price-list-item {
        h5 {
            font-size: 40px !important;
        }
    }
    .ad-description-wrapper{
        padding: 15px;
    }
    ul {
        list-style: none;
    }
}

.review-page {
    .review-box {
        box-shadow: 0px 0px 6px 0px;
        padding: 30px 30px;
    }
}

.special {
    background: #b8e5da;
    margin: 0 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 5px 5px 15px 10px;
}
.aspect-ratio-box {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 75% 0 0 0;
    border-radius: 10px;
    img {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }  
}

.ad-sharing-tool {
    color: #fff;
    margin-top: auto;
    margin-bottom: auto;
    .ad-sharing-tool-link {
        font-size: 14px;
        color: #2ABC57;
        line-height: 15px;
        font-weight: bold;
        display: flex;
        i{
            font-size: 14px;
            padding-right:5px;
        }
        &.share-tool {
            color: #4B8AF5;
        }
    }
    
    &:hover{
        .ad-sharing-tool-link {
        color: @theme-color-secondary;
        }
    }
    @media (min-width: 768px){
        &:first-child {
            border-left: 2px solid rgba(243, 243, 243);
        }
    }
    @media(max-width: 768px){
        padding: 15px;
    }
}

#ad-edit .thumbnails{
    position: relative;
    .delete-image {
        position: absolute;
        top: 0;
        right: 15px;
    }
}

/* Select2 custom styling */
.select2-container {
    z-index: 6;
    .select2-selection--single .select2-selection__rendered{
        padding-top:4px;
        font-size: 13px;
        padding-left: 14px;
        font-weight: 600;
    }
}

.select2-results {
    display: block;
    max-height: 300px;
    overflow-y: scroll;
}

.select2-container--default .select2-selection--single .select2-selection__arrow, .select2-container .select2-selection--single{
    height:37px;
    border-radius: 6px !important;
}

.main-search .select2-container--default .select2-selection--single .select2-selection__arrow,.main-search .select2-container .select2-selection--single{
    height:45px;
    border-radius: 6px !important;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: none;
    overflow-y: hidden;
}
.main-search .select2-container--open .select2-dropdown--below,.main-search .select2-container--open .select2-dropdown--above {
    margin-top:8px;
}
span.select2-selection.select2-selection--single {
    outline: none;
    position: relative;
}
  
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: none !important;
    background: none;
    color:black;
    font-weight: 700;
}

.select2-results__option{
    font-weight: 500;
    font-size: 13px;
    padding: 3px 13px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    color: @theme-color-heading;
    font-size: 30px;
    padding: 0px 25px;
    height: 27px;
    position: absolute;
    top: -3px;
    right: 0px;
    width: 20px;
    -webkit-text-stroke: 2px white;
}
.filters .select2-container--default .select2-selection--single .select2-selection__arrow,
.main-search .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 0px;
}
.select2-container--open .select2-dropdown--below, .select2-container--open .select2-dropdown--above{
    margin-top: 2px;
    background: #E8E8E8;
    padding: 0 0 10px 0px;
    border-radius: 6px !important;
}

.select2-container--open i.fa.fa-angle-down {
    color: @theme-color-secondary;
}
span.select2-selection.select2-selection--single {
    outline: none;
    position: relative;
}

span.select2.select2-container.select2-container--default {
    width: 100% !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: none !important;
    background: none;
    color:black;
    font-weight: 700;
}

.select2-results__option{
    font-weight: 500;
    font-size: 13px;
    padding: 3px 13px;
}


.search-sidebar .select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 2px;
    font-size: 13px;
}

.search-sidebar .select2-container--default .select2-selection--single .select2-selection__arrow {
    color: @theme-color-heading;
    font-size: 27px;
    top: -3px;
}

.search-sidebar .select2-container--default .select2-selection--single .select2-selection__arrow,.search-sidebar .select2-container .select2-selection--single{
    height:35px;
}

.search-body-head .select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 0px;
    font-size: 10px;
}

.search-body-head .select2-container--default .select2-selection--single .select2-selection__arrow {
    color: @theme-color-heading;
    font-size: 21px;
    top: -3px;
}

.search-body-head .select2-container--default .select2-selection--single .select2-selection__arrow,.search-body-head .select2-container .select2-selection--single{
    height:25px;
}

/* End Select2 custom styling */

/* Contact Page Styling */

#contact-intro {
    .container {
        border-radius: 10px;
    }
    .contact-page-logo img{
        max-width: 100%; 
    }
    .row{
        padding: 32px 32px 20px;
        form {
            h4 {
                font-weight: bold;
                color: #fff;
                font-size: 23px;
                line-height: 32px;
                padding-bottom: 20px;
            }
            .form-group {
                margin-bottom: 12px;
                &.text-center{
                    margin-top:20px;
                    margin-bottom: 0px;
                }
            }
            .form-control::placeholder  {
                color: #000;
                font-size: 12px;
                font-weight: 600;
            }
        }
        .col-md-5 {
            position: relative;
            .address p {
                position: absolute;
                text-align: center;
                padding: 0 15px;
                color: white;
                font-size: 18px;
                bottom: 0;
                @media (max-width: 768px) {
                    position: relative;
                }
            }
        }
    }
    @media (min-width: 768px) {
        padding: 300px 0 60px 0; 
    }
}
  
/* End Contact Page Styling */


/* Plan Selection Styling */

#plan-intro {
    .plan-item {
        flex-direction: column;
        align-items: center;
        display: flex;
        font-size:11px;
        background: #fff;
        margin: 10px;
        text-align: center;
        ul{
            list-style: none;
            padding-left: 0px;
            li {
                background: #2774F0;
                padding: 7px 20px;
                color: #fff;
                margin-bottom: 15px !important;
                border-radius: 20px;
                font-size: 16px;
                i {
                    margin-right: 7.5px;
                    color: #E2B90E;
                    &.fa-star {
                        border-radius: 50%;
                        color: #fff;
                        background: #E2B90E;
                        padding: 3px;
                    }
                }
            }
        }
        .price-box {
            width: 100%;
            display: flex;
            border-top: 1px solid rgb(112, 112, 112,0.25);
            padding: 20px 5px 0px 5px;
            select#package_month {
                font-size: 18px;
                color: #000;
                background: #F4F4F4;
                font-weight: 500;
                border: none;
                padding: 5px 10px;
                border-radius: 10px;
            }
            .plan-price {
                font-size: 26px;
                font-weight: 500;
                margin-bottom: 0px;
            }
        }
        .valid-month {
            width: 100%;
            font-size: 16px;
            color: #3D4853;
            padding-left: 5px;
            padding-bottom: 20px;
        }
        &.premium {
            background:#F0E6E4;
        }
    }
}
  
  
/* End Plan Selection Styling */

/* Footer Styling */
.main-footer{
    background: #EFFAFF;
    .footer-content{
        .footer-logo {
            padding: 0px 35px;
            margin-top: auto;
            margin-bottom: auto;
            img {
                max-width: 100%;
            }
        }
    }
    .footer-menu-list {
        list-style: none;
        padding-left:0px;
        @media (max-width: 768px) {
            border-left: none;
            padding-left: 0px;
            margin-top: 10px;
        }
        .footer-menu-item {
            font-size: 16px;
            padding: 7px 10px 7px 0;
            font-weight: 700;
            a{
                color:#000000;
            }
        }
    }
}
.bottom-footer {
    font-size: 15px;
    padding: 30px 0;
}

/* End of Footer Styling */
  
.review-page .single-ad-tools .btn-round {

    @media (max-width: 768px){
        width: 100%;
        margin-bottom: 5px;

    }
}


/* responsive */

  /* End Articles Page Stylling  */
  @media (max-width: 768px){
    #articles-intro .article-content p, .faq-response-wrapper{
      text-align: justify;
    }
    .contact, .plan-selection {
      flex-direction: column !important;
    }
  }


/*
    Carousel Css
*/
@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
  }
  @media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
  }
  @media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
  }
  /* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {

    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

#navbarResponsiveAccount {
    margin-left: auto;
}

.category-collection {
    height: 300px;
    & > .col-sm-2,& > .col-sm-3,& > .col-sm-4 {
        padding: 0 5px !important;
    }
    .category-item {
        display: flex;
        align-items: flex-end;
        border-radius: 15px;
        .category-item-content {
            padding-left: 10px;
            padding-bottom: 10px;
            color: #fff;
        }
    }
}

.featured-ads-image {
    border-radius: 15px;
    .featured-ads-image-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        .featured-ads-image-title {
            padding-top: 10px;
            color: #fff;
        }
        .featured-ads-image-cta{
            margin-top:auto;
            display:flex;
            .cateogory-item-button {
                padding-bottom: 10px;
                margin-top: -5px;
                margin-left: auto;
            }
            .fas.fa-chevron-right {
                padding: 10px 12px;
                background: #fff;
                border-radius: 50%;
            }
        }
    }
}

.featured-ads-item {
    margin-bottom: 10px;
    h6 {
        color: #1A1B16;
    }
    .ads-item-price {
        color: #F3626B;
    }
}
.footer-menu h4 {
    letter-spacing: 2.27px;
    color: #000000;
    text-transform: uppercase;
    opacity: 0.35;
}

.search-sec {
    width: 100%;
    form {
        background: #E3E3E3;
        padding: 10px;
        border-radius: 30px;
        .select2-container--default .select2-selection--single {
            background-color: transparent !important;
            border:none !important;
        }
        .form-control {
            background: none;
            border: none;
        }
        .btn.btn-search {
            background: #2ABC57;
            border-radius: 50%;
            color: #fff;
            padding: 5px 10px;
        }
        .search-slt {
            border-right: 1px solid #2ABC57;
        }
    }
}

.header-divs > div {
    margin: auto;
}

.price-list {
    list-style: none;
    padding-left: 0px;
    .price-list-item h5{
        color: #F3626B;
        font-size: 25px !important;
        span{
            font-size: 20px !important;
            color: #868686;
        }
    }
}

.header {
    box-shadow: 0px 0px 5px 0px #ccc;
    border-bottom: 1px solid #ccc;
}

.listing-ad-wrapper {
    background: white;
    border-radius: 10px;
    .price-list{
        margin-bottom: 0px;
        .price-list-item h5{
            color: #F3626B;
            font-size: 25px !important;
        }
    }
    .listing-ad-title {
        color: #000;
        font-size: 28px;
    }
    .pricings {
        margin-top: auto;
    }
    .aspect-ratio-box {
        border-radius: 15px 0 0 15px;
        img{
            border:none !important;
            border-radius: 10px 0 0 10px !important;
        }
    }
}

.ad-description-wrapper {
    background: #fff;
    border-radius: 20px;
    .ad-description-text {
        max-height: 400px;
        overflow: scroll;
        padding-right: 20px;
        text-align: justify;
        font-size: 14px;
        line-height: 18px;
        color: #656662 !important;
        .ad-listed-date {
            font-size: 14px !important;
            color: #656662 !important;
        }
        .ad-listed-location {
            font-size: 14px !important;
            color: #000000 !important;
        }
    }
}

.details.features > ul {
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
}

.contact-div {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    h2 {
        margin-bottom: 15px;
    }
    .btn-message {
        background-color:#277C41;
        border-radius: 10px;
        width: 100%;
        .fas.fa-comment-alt {
            padding-right: 5px;
        }
    }
    textarea#message-host {
        width: 100%;
        background: #F5F5F5;
        border: none;
        color: #8597B2;
        padding-left: 7px;
        border-radius: 6px;
    }
}

.owl-nav{ 
    position: absolute;
    top: -50px;
    right: 0px;
    button {
        &:last-child {
            margin-left: 10px;
        }
        i {
            padding: 10px;
            background: #fff;
            border-radius: 50%;
            color: #2ABC57;
        }
    }
}

.single-page-featured .owl-carousel .owl-item {
    background: white;
    .aspect-ratio-box {
        border-radius: 15px 15px 0 0;
    }
}

// Lightbox Gallery
    /* The Modal (background) */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: black;
    }
    
    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        width: 90%;
        max-width: 1200px;
    }
    
    /* The Close Button */
    .close {
        color: white;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
    }
    
    .mySlides {
        display: none;
    }
    
    .cursor {
        cursor: pointer;
    }
    
    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    
    img {
        margin-bottom: -4px;
    }
    
    .caption-container {
        text-align: center;
        background-color: black;
        padding: 2px 16px;
        color: white;
    }
    
    .demo {
        opacity: 0.6;
    }
    
    .active,
    .demo:hover {
        opacity: 1;
    }
    
    img.hover-shadow {
        transition: 0.3s;
    }
    
    .hover-shadow:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
// End lightbox

.gallery {
    margin-bottom: 15px;
    & >  div {
        padding:0px;
        &.featured-image {
            padding: 5px 10px 0px 10px !important;
        }
    }
    .thumbnails .thumbnail {
        width: 50%;
        float: left;
        padding: 0 8px 2px 0;
    }
}

.show-all-gallery {
    position: absolute;
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 600;
    right: 20px;
    bottom: 0px;
    cursor: pointer;
}

.detail-head {
    color: #1A1B16;
    font: normal normal bold 35px/46px Bilo;
    padding-right: 15px ;
}

.modal {
    z-index: 99999;
}

.btn-main {
    background: #3E79CB;
    border-radius: 7px;
    padding-left: 10px;
    color: #fff !important;
    .nav-text {
        color: #fff !important;
    }
}

.login-background {
    background: url('/images/snow-house.jpg') center center;
    background-size: cover;
}

.content-wrapper {
    background-color: #fff;
    padding: 15px;
}

.form-control {
    background-color: rgba(0,0,0,0.13);
}

.login-subtitle {
    padding: 3px 0px;
    text-align: center;
    margin-bottom: 5px;
}

.register-subtitle {
    padding: 3px 0px;
    margin-bottom: 5px;
    font-size: 18px;
}

.btn-black {
    background: #000000;
}
.btn-transparent {
    border: 1px solid #3E79CB;
    color: #3E79CB;
    background-color: transparent;
    border-radius: 7px;
}

.form-control:focus {
    border-color: #3E79CB;
    box-shadow: 0 0 0 0.2rem rgba(62, 121, 203, 0.25);
}

.edit-account {
    font-size: 15px;
    color: #3E79CB;
    margin-top:5px;
}

.user-card {
    background: #fff;
    margin-bottom: 7px;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    .user-avatar {
        margin-right: 10px;
        img{
            border-radius: 50%;
            width: 50px;
        }
    }
    .user-content {
        position: relative;
        width: 100%;
        p {
            margin-bottom: 0px;
            font-size: 13px;
            &.user-name {
                font-size: 14px;
                font-weight: 600;
            }
        }
        .message-time {
            position: absolute;
            top:5px;
            right: 5px;
        }
    }
}

.message {
    padding: 5px 10px;
    span {
        padding: 5px 10px;
        font-size: 15px;
    }
    &.message-sent span{
        background: #EBEBEB;
        border-radius: 16px 16px 2px 16px;
        float: right;
    }
    &.message-received span {
        border: 1px solid #EBEBEB;
        border-radius: 16px 16px 16px 2px;
    }
}

.table th, .table td {
    border:none;
}

#main_col {
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    .chat-section {
        max-height: 500px;
        overflow: scroll;
    }
    table tr {
        margin-bottom: 5px;
        td {
            width:50% !important;
        }
        &:last-child {
            margin-bottom: 10px;
        }
    }
}

form#feed_back_form {
    position: relative;
    textarea {
        border-radius: 10px;
        &:focus {
            border-color: #3E79CB;
            box-shadow: 0 0 0 0.2rem rgba(62, 121, 203, 0.25);
        }
    }
    button {
        position: absolute;
        top:15px;
        right:20px;
        color: #3E79CB;
        background: transparent;
        border: none;
    }
}

.ad-sharing-tool {
    color: #4B8AF5;
    margin-top: auto;
    margin-bottom: auto;
}

.reveal-number {
    position: relative;
    border: 2px solid #E6EAEF;
    margin-bottom: 7.5px;
    span {
        position: absolute;
        margin-top: -15px;
        margin-left: 5px;
        background: #fff;
    }
    .phonenumber {
        margin-top: 10px;
        margin-left: 5px;
    }
    .revealphone {
        position: absolute;
        top:10px;
        right: 8px;
        color: #F3626B;
    }
}